body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E2E;
    color: #F8F8F2;
    transition: background-color 0.5s ease-in-out;
}

header {
    background: #44475A;
    color: #FF79C6;
    padding: 15px;
    text-align: center;
    transition: background 0.5s ease-in-out;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: #BD93F9;
    transition: background 0.5s ease-in-out;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #282A36;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF79C6;
}

section {
    padding: 20px;
    margin: 10px;
    background: #282A36;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 121, 198, 0.5);
    transition: background 0.5s ease-in-out;
}

footer {
    text-align: center;
    padding: 10px;
    background: #44475A;
    color: #F8F8F2;
    position: relative;
    bottom: 0;
    width: 100%;
    transition: background 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 15px;
        margin: 5px;
    }
}
